<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83133683322-i5snh6n79qk076ua168v5mop3d8s1tqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83133683322-i5snh6n79qk076ua168v5mop3d8s1tqn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>83133683322-8isr0s2v3er68mt6blb4741v6k0s5n4k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSirw3lG1tdycajvXk1lIUsvjFgBXhKCc</string>
	<key>GCM_SENDER_ID</key>
	<string>83133683322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.retvens.rown</string>
	<key>PROJECT_ID</key>
	<string>r-own-d0a2c</string>
	<key>STORAGE_BUCKET</key>
	<string>r-own-d0a2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83133683322:ios:53931a498aec12070b0dc3</string>
	<key>DATABASE_URL</key>
	<string>https://r-own-d0a2c-default-rtdb.firebaseio.com</string>
</dict>
</plist>